.contents {
  width: 1280px;
  height: 1100px;
  margin: auto;
  display: flex;
}

.aside {
  width: 250px;
  height: 400px;
  margin-top: 50px;
}

.aside ul li {
  margin-bottom: 30px;
  font-weight: 600;
}

.aside_used {
  width: 250px;
  height: 300px;
  margin-top: 50px;
}

.used {
  padding: 10px 50px;
  border-radius: 5px;
  background-color: #173153;
  color: #fff;
}

/* 책 리스트 */

.best_item {
  width: calc(1280px - 250px);
  height: auto;
  margin-top: 30px;
}

.best_item_list {
  text-align: center;
  display: grid;
	grid-template-columns: repeat(4, 230px);
	grid-template-rows: repeat(4, 300px);
	column-gap: 30px;
	row-gap: 50px;
}

.best_item img {
  width: 200px;
  height: 250px;
}

.item_info {
  width: 200px;
  height: 50px;
  margin-top: 10px;
}

/* 페이징 */

.item_page {
  width: calc(1280px - 250px - 250px);
  margin: auto;
  padding-bottom: 10px;
}

.item_sec {
  width: 1030px;
  text-align: center;
}

.item_sec a {
  padding-left: 20px;
}

.arrow_b_r, .arrow_b_l {
  width: 15px;
  height: 15px;
}