.mypage {
  width: 1000px;
  height: 700px;
  margin: auto;
  margin-top: 30px;
}

.mypage h2 {
  padding-left: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.write_sec, .write_sec_2 {
  width: 900px;
  margin: auto;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
}

.write_sec div:nth-child(2), .write_sec_2 div:nth-child(2) {
  font-size: 15px;
  font-weight: 500;
}

/* 테이블 */

.table_wrap table {
  border-collapse: collapse;
  width: 1000px;
  margin: auto;
  font-size: 13px;
}

.table_wrap th, .table_wrap td {
  padding: 10px 0px;
}

.table_wrap table td {
  text-align: center;
}

.table_wrap tr {
  border-bottom: 1px solid #999;
}

thead tr th:nth-child(1), tbody tr td:nth-child(1) {
  width: 150px;
}

thead tr th:nth-child(2), tbody tr td:nth-child(2) {
  width: 250px;
  text-align: left;
}

thead tr th:nth-child(3), tbody tr td:nth-child(3) {
  width: 450px;
  text-align: left;
}

/* 페이징 */

.item_page {
  margin: auto;
  padding-bottom: 10px;
}

.item_sec {
  width: 1030px;
  text-align: center;
  margin-top: 50px;
}

.item_sec a {
  padding-left: 20px;
}

.arrow_b_r, .arrow_b_l {
  width: 15px;
  height: 15px;
}